.industry-table .head-ul li{
    width:14.2%;
}

.industry-table .list-ul li{
    width:14.2%;
}

.operate-btn{
    border: 1px solid #e6e6e6;
    display: inline-block;
    font-size: 15px;
    color: #333;
    border-radius: 4px;
    width: 60px;
    text-align: center;
    height: 22px;
    line-height: 22px;
    cursor: pointer;
    transition: color .2s;
    margin:0 auto;
}

