
/*宣传标语*/
div.slogan{
	position:absolute;
	top:180px;
	text-align: center;
	width:100%;
	color:white;
	font-family: 'microsoft yahei', Arial, sans-serif;
}

.slogan .title{
	font-size: 44px;
}

.slogan p{
	font-size: 26px;
	opacity: .8;
	margin: 15px 0 68px 0;
}
/*宣传标语*/

/*新闻*/
.news-section{
	max-width: 1190px;
	position: relative;
	display: flex;
    -webkit-box-pack: justify;
	justify-content: space-between;
    padding: 50px 0 35px 0;
    left:4%;
}

.news{
	width: 43%;
    position: relative;
    min-height: 274px;
    left:2%
}

.news .title{
	position: relative;
    border-bottom: 1px solid #d0d9e2
}

.news .title h3{
	font-size: 20px;
    color: #424c5f;
    font-weight: bold;
    margin: 0;
    border-bottom: 2px solid #3d77c7;
    display: inline-block;
    margin-bottom: -1px;
    padding-bottom: 8px;
}

.news .title p{
	font-size: 12px;
    color: #999;
    position: absolute;
    right: 0;
    bottom: 0;
}

.news .item{
	margin-top: 25px;
    padding-left: 65px;
    position: relative;
    font-size: 14px;
}

.news .item span{
	color: #545353;
    position: absolute;
    left: 3px;
    line-height: 28px;
}

.news .item p{
	padding-left: 30px;
    color: #999;
    line-height: 28px;
}
/*新闻*/

/*介绍*/
.grey{
	background: #f1f4f9;
}

.introduction-section{
	height: 400px;
}

.introduction-section .wrapper{
	max-width: 1190px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    height: 100%;
}

.introduction-section .showimg1{
	position:relative;
	top: 99px;
    left: 75px
}

.introduction-section .showimg2{
	position:relative;
	top: 25px;
    left: 50%;
}

.intro{
	position:relative;
	left: 48%;
    margin-left: 50px;
    max-width: 630px;
    bottom:100px;
}

.intro2{
	position:relative;
	left:50px;
	bottom:200px;
}

.introduction-section h3{
	font-size: 30px;
    color: #424c5f;
    font-weight: bold;
    margin: 0;
    border-bottom: 2px solid #3d77c7;
    display: inline-block;
    margin-bottom: -1px;
    padding-bottom: 8px;
}

.introduction-section p{
	font-size: 16px;
    color: #434343;
    position: relative;
    margin: 40px 0 0 0;
    line-height: 26px;
}
/*介绍*/
