body{
    margin: auto;
}

#cycles {
    display: inline-block;
    margin-bottom: -15px;
}

#cycles a{
    text-decoration: none;
}

#cycle a:hover{
    color: #fff;
    background-color: #333;
    text-decoration: none;
}

#pricing_chart {
    overflow: visible;
}

#plans, #pricing {
    background-color: #fff;
    text-align: center;
}

#plans {
    margin-left: 20px;
    z-index: 1;
}
.top_inner_shadow {
    height: 10px;
}

.bottom_inner_shadow {
    height: 10px;
}

#monthly_plans, #paygo_plans {
    padding:10px 0;
    position: relative;
}


#pricing_chart .inactive {
    display: none;
}

#plans .current {
    display: inline-block;
}

#pricing {
    margin-left: 20px;
}

#pricing_inner {
}

.columns {
    display: flex;
}

.column {
    flex: 1;
    padding: 10px;
}

.column span {
    font-size: 1.1em;
    display: block;
}

.column:not(:last-child) {
    border-right: 2px dotted #5389d2;
}

.highlight-area {
    padding: 10px;
}

#plans .column ::after {
    font-size: .9em;
    padding: 0 5px;
    color: #5389d2;
}

#plans .column .built-in-hours::after {
    content: "included";
}

#plans .column .turnarounds::after {
    content: "turnarounds";
}

#plans .column .support::after {
    content: "included support";
}

.two_col {
    float: left;
    padding: 0 20px;
    /*width: $inner_width * 0.4;*/
    width:40%;
}

.col_line {
    width:2px;
    float: left;
}

.cycle, #showcase {
    font-size: 24px;
    padding: 20px 5px;
    font-weight: bold;
    text-align: center;
}



.cycle {
    color: #138697;
}

#showcase {
    font-size: 15px;
    color: #5389d2;
    margin: 0px;
    padding:5px;
    border: none;
}

#showcase p {
    color: #fff;
    margin-top:5px;
}



.feature {
    font-family:'sans-serif';
    font-weight: 400;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}

.feature:last-of-type {
    border-bottom: none;
    padding-top: 5px;
}

.plan_name{
    font-size: 24px;
    font-family:'sans-serif';
    color: #5389d2;
    text-shadow: 1px 1px #fff;
    cursor:pointer;
    padding:0;
}

.plan_name {
    border-bottom: 1px solid #ccc;
}



.small {
    font-size: 20px;
// font-size: .9em;
// line-height: 1em;
// font-weight:400;
// padding: 5px 0;
    color: #5389d2;
// text-shadow: 1px 1px #fff;
    font-weight: 400;
    padding:0px;
    margin:0px;
}

#details {
    background-color: #333;
    margin-left: -20px;
    padding: 20px;
    /*width: $width;*/
    display: inline-block;
}

#details p{
    color: #999;
    font-size: .8em;
    padding-bottom: 10px;
}

.highlight {
    background-color: #ddd;
}

.dimmed {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
}