.pagingUl{
  float:right;
  padding:0;
  margin:0;
  list-style: none;
}
.pagingUl li{
  float: left;
  display: inline-block;
  text-align: center;
}
.pagingUl li a{
  text-decoration: none;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  padding: 0;
  color: #5389d2;
  margin: 0 2px;
  border: 1px solid #5389d2;
  border-radius: 5px;
  font-size: 15px;
  font-family: 'sans-serif';
  cursor: pointer;
}


.pagingUl li a:hover{
  background-color: #5389d2;
  color: #fff;
}

.prv, .next {
  width: 30px;
  height: 30px;
  float: left;
  text-align: center;
  line-height: 25px;
  background: rgba(3,3,3,0);
  margin: 0 2px;
  border: 1px solid #5389d2;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;

}

.prv:hover, .next:hover{
  background-color: #5389d2;
  color: #fff;
}

.first, .last {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 25px;
  background: rgba(3,3,3,0);
  cursor: pointer;
  font-size: 15px;
  margin: 0 2px;
  border: 1px solid #5389d2;
  border-radius: 5px;
}

.first:hover, .last:hover{
  background-color: #5389d2;
  color: #fff;
}

#showcase .item{
  width:480px !important;
  margin:5px auto 0 !important;
}

