#backplot
{
    position: relative;
    margin: 40px;
    padding:0;
    width: 800px;
    height:600px;
}

#backresult
{
    position: relative;
    padding:0;
    width:800px;
    height:120px;
    margin:10px;
    margin-left:80px;
}
#backtable
{
    position: absolute;
    max-width:700px;
    max-height:90px;
    overflow: scroll;
}
#saveback
{
    position: absolute;
    top:200px;
    left:800px;
}