#text_analysis
{
    margin:10px;
    visibility: hidden;

}
#text_analysis p {
    font-family: 'Microsoft YaHei';
    color: #555;
    font-size: 18px;
}
.metric_button {
    margin:10px;
}

.button-row{
    width:830px;
    margin:20px auto -10px;
}