<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../yf/bootstrap.css">
    <link rel="stylesheet" href="../../css/strategy/multiple.css">
    <script src="../../yf/jquery.min.js"></script>
    <script src="../../yf/bootstrap.min.js"></script>
</head>
<body>
<input type="text" id="stock">
<input type="text" id="metric">
<button id="confirm">confirm</button>
<div id="morphology_button_group">
    <image id="add_row" class="add_icon" src="add_active.png" style="display:block;"></image>
    <div id="5" class="morphology_button_row"><button id="0-5" class="morphology_button">&nbsp</button><button id="1-5" class="morphology_button">&nbsp</button><button id="2-5" class="morphology_button">&nbsp</button><button id="3-5" class="morphology_button">&nbsp</button></button><button id="4-5" class="morphology_button">&nbsp</button><button id="5-5" class="morphology_button">&nbsp</button></div>
    <div id="4" class="morphology_button_row"><button id="0-4" class="morphology_button">&nbsp</button><button id="1-4" class="morphology_button">&nbsp</button><button id="2-4" class="morphology_button">&nbsp</button><button id="3-4" class="morphology_button">&nbsp</button></button><button id="4-4" class="morphology_button">&nbsp</button><button id="5-4" class="morphology_button">&nbsp</button></div>
    <div id="3" class="morphology_button_row"><button id="0-3" class="morphology_button">&nbsp</button><button id="1-3" class="morphology_button">&nbsp</button><button id="2-3" class="morphology_button">&nbsp</button><button id="3-3" class="morphology_button">&nbsp</button></button><button id="4-3" class="morphology_button">&nbsp</button><button id="5-3" class="morphology_button">&nbsp</button></div>
    <div id="2" class="morphology_button_row"><button id="0-2" class="morphology_button">&nbsp</button><button id="1-2" class="morphology_button">&nbsp</button><button id="2-2" class="morphology_button">&nbsp</button><button id="3-2" class="morphology_button">&nbsp</button></button><button id="4-2" class="morphology_button">&nbsp</button><button id="5-2" class="morphology_button">&nbsp</button></div>
    <div id="1" class="morphology_button_row"><button id="0-1" class="morphology_button">&nbsp</button><button id="1-1" class="morphology_button">&nbsp</button><button id="2-1" class="morphology_button">&nbsp</button><button id="3-1" class="morphology_button">&nbsp</button></button><button id="4-1" class="morphology_button">&nbsp</button><button id="5-1" class="morphology_button">&nbsp</button></div>
    <div style="margin:0;padding:0;">
        <div id="0" class="morphology_button_row" style="display:inline;"><button id="0-0" class="morphology_button">&nbsp</button><button id="1-0" class="morphology_button">&nbsp</button><button id="2-0" class="morphology_button">&nbsp</button><button id="3-0" class="morphology_button">&nbsp</button></button><button id="4-0" class="morphology_button">&nbsp</button><button id="5-0" class="morphology_button">&nbsp</button></div>
        <image id="add_column" class="add_icon" src="add_active.png" style="display:inline;"></image>
    </div>
</div>
<button id="save_button">save</button>
<div id="message1"></div>
<div id="message2"></div>
<div id="message3"></div>
</body>
<!--图像-->
<script>
    //随机色彩生成器
    var getRandomColor = function(){
        return  '#' +
            (function(color){
                return (color +=  '0123456789abcdef'[Math.floor(Math.random()*16)])
                && (color.length == 6) ?  color : arguments.callee(color);
            })('');
    };
    function Point($x,$y)
    {
        this.x=$x;
        this.y=$y;
    }
    //指标线
    function metric_line($metric)
    {
        this.metric=$metric;
        this.line=[];
        this.setLine=function($line)
        {
            this.line=$line;
        }
    };
    //一个股票的所有指标情况
    function log_stock($stock,$color)
    {
        this.stock=$stock;
        this.metric_lines=[];//多个指标
        this.color=$color;
    }
    function unit($point)
    {
        this.point=$point;
        this.stock_list=[];
        this.color_list=[];
    }

    var row=6;
    var column=6;
    //是否改变了股票和指标
    var new_stock=true;
    var new_metric=true;
    //当前的股票和指标
    var metric_selected="BIAS";
    var stock_selected="sh600200";
    //所有记录(log_stock)
    var log=[];

    var add_row=document.getElementById("add_row");
    var add_column=document.getElementById("add_column");
    add_row.onclick=function()
    {
        var button_group=document.getElementById("morphology_button_group");
        var new_row=document.createElement("div");
        new_row.setAttribute("id",row+"");
        new_row.setAttribute("class","morphology_button_row");
        for(var i=0;i<column;i++)
        {
            var new_button=document.createElement("button");
            new_button.setAttribute("id",i+"-"+row);
            new_button.setAttribute("class","morphology_button");
            new_button.innerHTML="&nbsp";
            (function(button) {
                new_button.onclick = function () {
                    var id = button.id;
                    var pointxy = new Point(Number(id.substr(0, id.indexOf("-"))), Number(id.substr(id.indexOf("-") + 1, id.length - id.indexOf("-") - 1)));
                    //点击一个单元，根据当前选择的股票和指标将其标记
                    for (var j = 0; j < log.length; j++) {
                        if (log[j].stock == stock_selected)//已经有这只股票
                        {
                            console.log("already have the stock in" + j);
                            addPoint(j, metric_selected, pointxy);//处理添加的点
                            return;
                        }
                    }
                    var color = getRandomColor();
                    log.push(new log_stock(stock_selected, color));
                    message1.innerHTML = JSON.stringify(log);
                    addPoint(log.length - 1, metric_selected, pointxy);//处理添加的点

                    new_stock = false;
                    new_metric = false;
                }
            })(new_button);
            new_row.appendChild(new_button);
        }
        button_group.insertBefore(new_row,document.getElementById(row-1));
        row++;
    };
    add_column.onclick=function()
    {
        var rows=document.getElementsByClassName("morphology_button_row");
        for(var i=0;i<row;i++)
        {
            var new_button=document.createElement("button");
            new_button.setAttribute("id",column+"-"+(row-i-1));
            new_button.setAttribute("class","morphology_button");
            new_button.innerHTML="&nbsp";
            (function(button) {
                new_button.onclick = function () {
                    var id = button.id;
                    var pointxy = new Point(Number(id.substr(0, id.indexOf("-"))), Number(id.substr(id.indexOf("-") + 1, id.length - id.indexOf("-") - 1)));
                    //点击一个单元，根据当前选择的股票和指标将其标记
                    for (var j = 0; j < log.length; j++) {
                        if (log[j].stock == stock_selected)//已经有这只股票
                        {
                            console.log("already have the stock in" + j);
                            addPoint(j, metric_selected, pointxy);//处理添加的点
                            return;
                        }
                    }
                    var color = getRandomColor();
                    log.push(new log_stock(stock_selected, color));
                    message1.innerHTML = JSON.stringify(log);
                    addPoint(log.length - 1, metric_selected, pointxy);//处理添加的点

                    new_stock = false;
                    new_metric = false;
                }
            })(new_button);
            rows[i].appendChild(new_button);
        }
        column++;
    };

    function addPoint($location,$metric,$point)
    {
        console.log("yes in "+$location);
        var x=$point.x;
        var y=$point.y;
        message2.innerHTML=JSON.stringify($point);
        var metric_lines=log[$location].metric_lines;
        for(var i=0;i<metric_lines.length;i++)
        {
            if(metric_lines[i].metric==$metric)//已经有这个指标
            {
                console.log("already have the metric in "+i);
                var line=metric_lines[i].line;

                if(line.length==0)
                {
                    message3.innerHTML="直接插入";
                    line.push($point);
                    var node= document.getElementById($point.x+"-"+$point.y);
                    node.style.backgroundColor=log[$location].color;
                    node.innerHTML=$metric;
                    return;
                }

                var index=-1;
                for(var j=0;j<line.length;j++)
                {
                    if(line[j].x==$point.x&&line[j].y==$point.y)
                    {
                        index=j;
                    }
                }
                console.log("this point index is"+index);
                if(index==0)//在开头
                {
                    line.splice(0,1);
                    var node= document.getElementById($point.x+"-"+$point.y);
                    node.style.backgroundColor="#fff";
                    var str=JSON.stringify(node.innerHTML);
                    str=str.replace('"'+$metric+'"',"&nbsp");
                    node.innerHTML=str;
                }
                else if(index==line.length-1)//在结尾
                {
                    line.splice(line.length-1,1);
                    var node= document.getElementById($point.x+"-"+$point.y);
                    node.style.backgroundColor="#fff";
                    var str=JSON.stringify(node.innerHTML);
                    str=str.replace('"'+$metric+'"',"&nbsp");
                    node.innerHTML=str;
                }
                else if(index==-1)//没有该点
                {
                    var line_length=line.length;
                    var scope_x1=line[0].x-1;
                    var scope_x2=line[0].x+1;
                    var scope_y1=line[0].y-1;
                    var scope_y2=line[0].y+1;
                    var scope_x3=line[line_length-1].x-1;
                    var scope_x4=line[line_length-1].x+1;
                    var scope_y3=line[line_length-1].y-1;
                    var scope_y4=line[line_length-1].y+1;
                    if(x>=scope_x1&& x<=scope_x2&& y>=scope_y1&& y<=scope_y2)//必须与头尾相连
                    {
                        if(line_length==1)
                        {
//                            alert("start");
                            if(x>line[0].x||y>line[0].y)
                            {
//                                alert("big");
                                message3.innerHTML="插在尾部";
                                line.push($point);
                                var node= document.getElementById($point.x+"-"+$point.y);
                                node.style.backgroundColor=log[$location].color;
                                node.innerHTML=$metric;
                            }
                            else
                            {
//                                alert("small");
                                message3.innerHTML="插在头部";
                                line.splice(0,0,$point);
                                var node= document.getElementById($point.x+"-"+$point.y);
                                node.style.backgroundColor=log[$location].color;
                                node.innerHTML=$metric;
                            }
                        }
                        else
                        {
                            message3.innerHTML="插在头部";
                            line.splice(0,0,$point);
                            var node= document.getElementById($point.x+"-"+$point.y);
                            node.style.backgroundColor=log[$location].color;
                            node.innerHTML=$metric;
                        }
                    }
                    else if(x>=scope_x3&& x<=scope_x4&& y>=scope_y3&& y<=scope_y4)
                    {
                        message3.innerHTML="插在尾部";
                        line.push($point);
                        document.getElementById($point.x+"-"+$point.y).style.backgroundColor=log[$location].color;
                        document.getElementById($point.x+"-"+$point.y).textContent=$metric;
                    }
                    else
                    {
                        message3.innerHTML="";
                        console.log("have to be connected,you can append");//提示
                    }
                }
                else//在中间
                {
                    message3.innerHTML="";
                    console.log("have to be connected,you can delete");//提示
                }
                message1.innerHTML=JSON.stringify(log);
//                alert("success");
                return;
            }
        }
        metric_lines.push(new metric_line($metric));
        metric_lines[metric_lines.length-1].line.push($point);
        document.getElementById($point.x+"-"+$point.y).style.backgroundColor=log[$location].color;
        document.getElementById($point.x+"-"+$point.y).innerHTML=$metric;
        message1.innerHTML=JSON.stringify(log);
    }

    var points=document.getElementsByClassName("morphology_button");
    //为每个格子添加监听
    (function init()
    {
        for(var i=0;i<points.length;i++)
        {
            var point=points[i];
            (function(button)
            {
                point.onclick=function()
                {
                    var id=button.id;
                    var pointxy=new Point(Number(id.substr(0,id.indexOf("-"))),Number(id.substr(id.indexOf("-")+1,id.length-id.indexOf("-")-1)));
                    //点击一个单元，根据当前选择的股票和指标将其标记
                   for(var j=0;j<log.length;j++)
                   {
                       if(log[j].stock==stock_selected)//已经有这只股票
                       {
                           console.log("already have the stock in"+j);
                           addPoint(j,metric_selected,pointxy);//处理添加的点
                           return;
                       }
                   }
                    var color=getRandomColor();
                    log.push(new log_stock(stock_selected,color));
                    message1.innerHTML=JSON.stringify(log);
                    addPoint(log.length-1,metric_selected,pointxy);//处理添加的点

                    new_stock=false;
                    new_metric=false;
                }
            })(point);
        }
    })();

    function clean()
    {

    }
</script>
<!--辅助-->
<script type="text/javascript">
    var message1=document.getElementById("message1");
    var message2=document.getElementById("message2");
    var message3=document.getElementById("message3");

    var confirm=document.getElementById("confirm");
    var stock=document.getElementById("stock");
    var metric=document.getElementById("metric");
    confirm.onclick=function()
    {
        new_stock=true;
        new_metric=true;
        stock_selected=stock.value;
        metric_selected=metric.value;
        for(var i=0;i<log.length;i++)
        {
            if(log[i].stock==stock_selected)
            {
                return;
            }
        }
        var color=getRandomColor();
        log.push(new log_stock(stock_selected,color));
        message1.innerHTML=JSON.stringify(log);
    };

</script>
</html>